/*animacoes*/

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
        /*vai mecher no eixo y 16px*/
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translatex(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
    /*vai deixar as propriedades do to la no keyframe fiquem permanentes no elemento*/
}

.animate-right {
    animation-name: right;
    animation-duration: 800ms;
}

.animate-appear {
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}