#page-orphanages {
    width: 100%;
    height: 100%;
    display: flex;
}

aside {
    width: clamp(34rem, 25vw, 44rem);
    background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
    padding: clamp(3rem, 5vw, 8rem);
    display: flex;
    flex-direction: column;
    /*ta mudando o comportamento do flex pra ao invez de bicar na mesma linha dar uma sensaçao de display block*/
    justify-content: space-between;
    /*assim como no index mas aqui esta sendo usado pra deixar os elementos no extremo do aside*/
}

aside h2 {
    margin-top: 6.4rem;
    font: clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif;
}

aside p {
    margin-top: 2.4rem;
    font: 400 1.6rem/1.5 'Nunito', sans-serif;
}

aside footer p {
    margin-top: 2rem;
}

#mapid {
    width: 100%;
    height: 100%;
}


/*button*/

a.create-orphanage {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    width: 6.4rem;
    height: 6.4rem;
    background: #15C3D6;
    border: 0;
    border-radius: 2rem;
    /*alinhando o botao no meio graças ao display flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 200ms;
}

a.create-orphanage:hover {
    background: #17d6eb;
}


/*mudancas no mapa*/

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0, 8);
    border-radius: 20px;
}

.leaflet-popup-content {
    color: #0089a5;
    margin: .8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15c3d6;
    box-shadow: 17.2828px 17.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.leaflet-popup-content a:hover {
    background: #17d6eb;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    font: 700 2rem/1 'Nunito', sans-serif;
}